header {
    background-color:#2a4365;
    padding: 10px 20px;
    color: white;
  }
  
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .navbar-logo {
    font-size: 1.5em;
    font-weight: bold;
  }
  
  .navbar-user {
    display: flex;
    align-items: center;
  }
  
  .navbar-username {
    margin-right: 10px;
    font-size: 1.2em;
  }
  
  .navbar-avatar {
    width: 40px;
    height: 40px;
    background-color: #555;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 1.2em;
  }
  
  .navbar-login {
    font-size: 1.2em;
    cursor: pointer;
  }